# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
env/
venv/

# Environment variables
*.env

# Logs
*.log
logs/

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python package files
*.egg
*.egg-info/
dist/
build/
*.whl

# Large files or temporary files
*.bak
*.tmp
*.swp
